/* .background{
    background: url("../assets//images/Group_765.png") no-repeat  fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:bottom;
    background: contain;
    background-repeat:no-repeat;
    
    margin:0;
    font-size:.9rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    text-align:left;
    background-color:#fff;

    height: auto;
}; */